// $backgroundColor: rgb(157, 193, 173);
$backgroundColor: rgb(0, 0, 0);

//my searchinput styling
$inputBorderColor:  #e4c644;

//black and white
$primaryColor: rgb(255, 255, 255);
$secondaryColor: rgb(0, 0, 0); 

//hover effecter
$thirdColor: rgb(242, 228, 174);